<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    title=sprite.name
  body
    style.
      html,body {
        overflow: hidden;
        background: transparent;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      canvas {
        display: block;
      }

    canvas(is="pixel-canvas" id="canvas", palette=sprite.palette, pixels=sprite.pixels, size=sprite.size)
    block append scripts
      script(src="/scripts/pixel-canvas.js")